.container {
  display: flex;
  padding: 4.5rem 12rem 4.5rem 12rem;
}
.details {
  flex: 1;
  max-width: 450px;
  min-width: 450px;
  margin-right: var(--banao-margin-30);
}

.title{
  font-weight: 800;
  font-size: 2rem;
  color: var(--banao-primary);
  margin: 0 0 var(--banao-margin-16) 0;
}
.subtitle {
  font-weight: 500;
  font-size: var(--banao-font-size-14);
  color: var(--banao-grey-darker);
  line-height: 17px;
  letter-spacing: -0.01em;
}
.list {
  display: flex;
  flex-direction: column;
  gap: var(--banao-margin-20);
  height: max-content;
  margin: var(--banao-margin-35) 0 4.125rem 0;
}
.list a p {
  font-size: var(--banao-font-size-16);
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: var(--banao-primary-black)
}
.contact {
  display: flex;
  gap: var(--banao-margin-32);
}
.contact p {
  font-weight: 600;
  font-size: var(--banao-font-size-14);
  line-height: 17px;
  letter-spacing: -0.01em;
  color: var(--banao-grey-darker);
}

.formContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  width: max-content
}
.form {
  margin-left: -60px;
  margin-top: 30px;
}


@media all and (max-width: 1400px) {
  .container {
    padding: 4.5rem 5rem 4.5rem 5rem;
  }
}

@media all and (max-width: 1200px) {
  .container {
    padding: 4.5rem 2rem 4.5rem 2rem;
  }
}

@media screen and (max-width: 1040px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .formContainer {
    order: 1;
    margin-left: -8.25rem;
    width: 100%;
  }
  .details {
    order: 2;
    margin: var(--banao-margin-30) 0 0;
  }
}

@media screen and (max-width: 768px) {
  .container{
    flex-direction: column;
    padding: 4.5rem var(--banao-padding-16);
  }
  .list{
    margin: var(--banao-margin-35) 0 2rem 0;
  }
  .contact{
    flex-direction: column;
  }
  .details{
    margin: 0 0 var(--banao-margin-35) 0;
  }
}

@media screen and (max-width: 512px) {
  .formContainer > div:first-child {
    display: none !important;
  }
  .formContainer {
    margin-left: 0;
  }
  .form {
    margin: 0;
  }
  .details {
    max-width: 100%;
    min-width: 100%;
    margin: var(--banao-margin-35) 0 0; 
  }
}